<html>
    <head>
        <meta charset="utf-8">
        <title>Node</title>
        <link rel="stylesheet" href="../estilo.css" type="text/css">
        <script type="text/javascript" src="../jquery-3.3.1.min.js"></script>
    </head>
    <body>
        <h1>Listagem CLIENTES</h1>
            <form action="http://localhost:3000/clientes/new" method="POST">
                <input type="text" name="nome" placeholder="Nome">
                <input type="date" name="data_nasc" placeholder="Data de Nascimento">
                <input type="email" name="email" placeholder="email">
                <button type="submit">Inserir</button>
            </form>
            <select id="categorias"></select>
            <select id="produtos"></select>
            <input type="text" id="txtBusca" placeholder="id">
            <button id="btnBusca">Buscar</button>
        
        <div id="id01">

        </div>
        <script>    
            var idCliente = '';            
            var url = "http://localhost:3000/clientes";
            $(document).ready(function(){
                $.getJSON("http://localhost:3000/categorias", function(result){
                    var categorias = result;
                    var out = '';
                    for(var i = 0; i < categorias.length; i++) {
                        out += `<option value="${ categorias[i].id_categ_prod}">${ categorias[i].desc_categ_prod}</option>`;
                    }
                    $('#categorias').html(out);
                    
                });
                $('#categorias').change(function(){
                    $.getJSON(`http://localhost:3000/produtos/categoria/${ $(this).val() }`, function(result){
                        var produtos = result;
                        var out = '';
                        for(var i = 0; i < produtos.length; i++) {
                            out += `<option value="${ produtos[i].id_prod}">${ produtos[i].desc_produto }</option>`;
                        }
                        $('#produtos').html(out);                    
                    });
                }); 
                $.getJSON(`http://localhost:3000/produtos/categoria/1`, function(result){
                        var produtos = result;
                        var out = '';
                        for(var i = 0; i < produtos.length; i++) {
                            out += `<option value="${ produtos[i].id_prod}">${ produtos[i].desc_produto }</option>`;
                        }
                        $('#produtos').html(out);                    
                    });  
                
            });

            function createTable(url) {
                $.getJSON(url, function(result) {
                    var arr = result;
                    var out = "<table>";
                    for (var i = 0; i < arr.length; i++){
                        out += "<tr><td>" + arr[i].id_cliente + "</td><td>" + arr[i].nome_cliente + "</td><td>" + arr[i].email + "</td><td><button class='removeItem' value=" +arr[i].id_cliente +">Remover</button></td></tr>"
                    }
                    out += "</table>";
                    $('#id01').html(out);
                    $('.removeItem').click(function(){
                        var myURL = url + "/remove/" + $(this).val();
                        $.getJSON(myURL, function(result) {                        
                            createTable(url);
                        });
                    });  
                });  
            }
        </script>
    </body>
</html>